@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans',sans-serif;
    overflow : hidden; /* tirar scroll (x) horizontal, caso seja as duas deixar sem marcaçao de x e y */
  }

.main-login{
    width: 100vw;
    height: 100vh;
    background: #1b1e23 ;   /*cor dark*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.laft-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.laft-login > h1{
    font-size: 3vw;
    color: #2768F3;
}

.left-login-img{
    width: 30vw;
}

.right-login{
   
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 25px;
    background: #2768F3;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #053c83ea;
}
.card-login > h1{
    color:rgb(255, 255, 255); 
    font-weight: 800;
    margin: 0;
}

.textfeild{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: hsla(226, 63%, 28%, 0.769) ; 
    color: #ffffff;
    font-size: 12pt;
    box-shadow:0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f6fdfdde;
    margin-bottom: 10px;
 
}

.textfield > input ::placeholder{
   color: #f0ffff94;
}

.btn-login{
    width: 70%;
    padding: 12px 0px;
    margin: 45px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    color: blue;
    cursor: pointer;
    box-shadow: 0px 10px 40px 12px #2857A8;
}

.icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url('olho\ fechadop.png');
    background-color: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}